<div class="banner__wrapper banner__wrapper--creations banner__wrapper__background banner__wrapper__background--creations">
  <section class="banner" id="banner-creations">
    <div class="banner__content-container banner__content-container--creations py-12">
      <div class="banner__content banner__content--creations">
        <h2 class="banner__title--creations pb-12 text-center text-black">{{t 'pages.home.banners.creations.title'}}</h2>
      </div>
    </div>
  </section>
</div>
