<div class="banner-wrapper banner-wrapper--usp banner-wrapper__background banner-wrapper__background--usp absolute">
  <section class="banner py-48" id="banner-usp">
    <div class="banner__content-container banner__content-container--usp
      w-2/3 lg:w-2/5 h-1/2 mx-auto align-middle py-2 px-3 rounded bg-black--smock"
    >
      <div class="banner__content banner__content--usp h-full px-3 py-3">
        {{!--        <h1 class="banner__title--usp text-white">{{t 'pages.home.banners.usp.title' htmlSafe=true}}</h1>--}}
        <h1 class="banner__title--usp text-white">{{t 'pages.home.banners.usp.title'}}</h1>
      </div>
    </div>
  </section>
</div>
