<div class="banner-background banner-background--cta">
  <section class="banner" id="banner-cta">
    <div class="banner__content banner__content--cta">
      <div class="banner__title banner__title--cta">
        <h2 class="text-center text-pale-orange font-bold">
          {{t 'pages.home.banners.cta.title'}}
        </h2>
      </div>
        <a href="mailto:{{t "contacts.email.title"}}" class="button button-contact">{{t "forms.contact.submit.title"}}</a>
    </div>
  </section>
</div>
