<div class="banner-background banner-background--cta">
  <section class="banner" id="quote-request">
    <div class="banner__content banner__content--cta">
      <div class="banner__top banner__top--cta">
        <h2 class="banner__title banner__title--cta">
          {{t 'pages.home.banners.cta.title'}}
        </h2>
{{!--        <h3 class="banner__availability">--}}
{{!--          {{t 'pages.home.banners.cta.availability'}}--}}
{{!--        </h3>--}}
      </div>
      <a
        href="{{this.quoteUrl}}" target="_blank" rel="noopener noreferrer"
        class="button button-contact" data-quote-request-link data-test="quote-request-link">
        {{t "forms.contact.submit.title"}}
      </a>
    </div>
  </section>
</div>
