<div class="banner-background banner-background--process">
  <section class="banner banner--process">
    <div class="banner__container banner__container--process">
      <div class="banner__content banner__content--process">
        <div class="banner__top banner__top--process">
          <h2 class="banner__title banner__title--process">
          {{t 'pages.home.banners.process.title'}}
          </h2>
        </div>
        <div class="banner__details">
          <ul>
            <li>{{t 'pages.home.banners.process.line-1'}}</li>
            <li>{{t 'pages.home.banners.process.line-2'}}</li>
            <li>{{t 'pages.home.banners.process.line-3'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
