<div class="banner-background banner-background--usp">
  <section class="banner banner--usp" id="banner-usp">
    <div class="banner__container banner__container--usp">
      <div class="banner__content banner__content--usp">
        <h1 class="banner__title banner__title--usp">{{t 'pages.home.banners.usp.title'}}</h1>
      </div>
    </div>
  </section>
</div>
