<nav class="navbar" id="navbar">
    <div class="navbar__content">
      <div class="navbar__left-content">
        <LinkTo @route="index" class="nav-link-logo nav-link-logo--sm" aria-current="page">
          <img src="/assets/images/devedanos/web/svg/color-logo-no-background.svg" class="logo-sm"
               alt="{{t "links.home-logo"}}">
        </LinkTo>

        <div class="navbar__language-picker">
          <LanguagePicker/>
        </div>

        <LinkTo @route="index" class="nav-link-logo nav-link-logo--xs" aria-current="page">
          <img src="/assets/images/devedanos/web/svg/color-logo-no-background.svg" class="logo-xs"
               alt="{{t "links.home-logo"}}">
        </LinkTo>
      </div>
    </div>
    <div class="navbar__right-content">
        <a href="#banner-cta" class="navbar__contact-button">{{t "navbar.nav-main.contact.text"}}</a>
    </div>
</nav>
