<nav>
  <div>
    <ul>
      <li><LinkTo @route="index">Devedanos</LinkTo></li>
  {{!--    <li><LinkTo @route="creations">Creations</LinkTo></li>--}}
  {{!--    <li><LinkTo @route="contact">Contact me</LinkTo></li>--}}
    </ul>
  </div>
</nav>
