.carousel {

  &__card {
    &--creations {
      width: 20.4rem;
      position: relative;
    }
  }

  &__card:first-child {
    @media screen and (min-width: theme('screens.xs')) {
      right: 1rem;
    }

    @media screen and (min-width: theme('screens.sm')) {
      right: 1rem;
    }

    @media screen and (min-width: theme('screens.md')) {
      right: 1rem;
    }

    @media screen and (min-width: theme('screens.lg')) {
      right: 1rem;
    }
  }

  &__card-content {
    padding: 1rem 2rem;
  }

  &__card-img {
    position: relative;
    top: 2rem;
    width: 260px;
    height: 135px;
    object-fit: fill;

  }
}
