.carousel {
  @apply relative flex flex-row flex-nowrap space-x-32 xs:h-4/5 w-full px-6 sm:px-14 md:px-40 lg:px-60 overflow-y-scroll;
  height: 24rem;

  &__card {
    @apply h-80 flex-none rounded-lg bg-white shadow-lg;
    left: 0;
    width: 20.4rem;

    /* @media screen and (min-width: theme('screens.xs')) {
      left: .16rem;
    }

    @media screen and (min-width: theme('screens.sm')) {
      left: 1rem;
    }

    @media screen and (min-width: theme('screens.md')) {
      left: -4rem;
    }

    @media screen and (min-width: theme('screens.lg')) {
      left: 0;
    } */
  }

  &__card-content {
    padding: 1rem 2rem;
    height: 100%;
  }

  &__card-img {
    position: relative;
    top: 2rem;
    width: 260px;
    height: 135px;
    object-fit: cover;
  }
}
