footer {
  @apply relative w-full top-16 pt-12 pb-4 px-12 lg:px-28 bg-black text-white;

  a {
    @apply text-white;
  }

  a:hover {
    @apply text-pale-orange;
  }

  .content-wrapper {
    @apply flex flex-col;
  }

  .infos {
    @apply md:flex md:flex-row md:content-between md:space-x-4;

    &__quick-links {
      @apply mt-8 md:mt-0;
    }

    &__contacts {
      @apply mt-8 md:mt-0;
    }
  }

  .infos-title {
    @apply text-lg border-b-2 mb-3;

    @media screen and (min-width: theme('screens.xs')) {
      width: 16rem;
    }

    @media screen and (min-width: theme('screens.sm')) {
      width: 12rem;
    }
  }

  .links-list {
    @apply flex flex-row space-x-4 mt-2 list-none;

    &__contacts {
      @apply flex-col;
    }
  }

  .link {

    &__contacts {
      @apply flex flex-row mt-4;;

      &:first-child {
        @apply mt-2;
      }

      img {
        @apply mr-3;
      }
    }
  }

  .svg {
    @apply filter-white;
  }
}

.credits {
  @apply flex flex-col mt-12 text-xs;
}

