footer {
  @apply relative w-full top-16 pt-12 pb-4 px-12 lg:px-28 bg-black text-white;

  a {
    @apply text-white;
  }

  a:hover {
    @apply text-pale-orange;
  }

  .content-wrapper {
    @apply flex flex-col;
  }

  .infos {
    @apply w-full sm:grid sm:grid-cols-2 lg:grid-cols-3;

    /*&__social-medias {
    }*/

    &__quick-links {
      @apply mt-8 md:mt-0;
    }

    &__contacts {
      @apply sm:w-full xs:mt-8 lg:mt-0;
    }
  }

  .infos-title {
    @apply text-lg border-b-2 mb-3;

    @media screen and (min-width: theme('screens.xs')) {
      width: 16rem;
    }

    @media screen and (min-width: theme('screens.sm')) {
      width: 12rem;
    }
  }

  .links-list {

    &--social-medias {
      @apply flex flex-row xs:space-x-4 list-none;
    }

    &--quick-links {
      @apply flex xs:flex-col sm:flex-row lg:flex-col md:my-1 sm:space-x-2 lg:space-x-0 list-none;
    }

    &--contacts {
      @apply sm:w-full md:w-full lg:w-auto sm:grid sm:grid-cols-2 lg:grid-cols-none sm:gap-x-2 lg:gap-x-1;
    }
  }

  .link {

    /*&--social-medias {

    }*/

    &--quick-links {
      @apply my-1;
    }

    &--contacts {
      @apply flex flex-row xs:my-4 md:my-2;

      img {
        @apply mr-3;
      }
    }
  }

  .svg {
    @apply filter-white;
  }
}

.credits {
  @apply flex flex-col mt-12 text-xs;
}

