.navbar {
  @apply fixed z-10 w-full flex items-center justify-between h-16 mx-auto px-3 sm:px-6 lg:px-8 bg-white shadow-sm;

  &__left-content {
    @apply flex flex-row justify-between items-center;
  }

  &__language-picker {
    @apply sm:left-20 pr-2 sm:inset-auto md:ml-12 sm:pr-0;
  }

  &__right-content {
    @apply ml-4 sm:ml-0;
  }

  &__contact-button {
    @apply justify-center px-3 py-2 border border-transparent text-base font-medium rounded-md;
    @apply rounded-md shadow;
    @apply button;
    @apply button--cta;

    @media screen and (max-width: theme('screens.sm')) {
      @apply text-sm;
    }
  }
}

.nav-link-logo {
  &--sm {
    @apply hidden sm:block;
  }

  &--xs {
    @apply sm:hidden;
  }
}

.nav-logo {
  height: 3rem;

  &--sm {
    @apply hidden sm:block h-8 w-auto;
  }

  &--xs {
    @apply sm:hidden h-8 w-auto;
  }
}

.language-picker {

  &__flag {
    &--english {
      background-image: url('/assets/images/flags/en-us.png');
      background-position: 100% 0;
      background-repeat: no-repeat;
    }

    &--french {
      background-image: url('/assets/images/flags/fr-fr.png');
      background-position: 100% 0;
      background-repeat: no-repeat;
    }
  }

  &__dropdown {
    @apply absolute w-32 top-0 mt-0.5 ml-4 px-4 py-1.5;
    @apply rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5;
  }
}
