<div class="input__email w-full md:w-1/2 lg:w-1/3 mt-4 md:mt-0 md:ml-4">
  <@labelComponent />
  <div class="input-field__email">
    <@inputComponent class="input-control__email w-full rounded-sm p-2 bg-gray-50" type="email"
      placeholder={{t "forms.contact.email.placeholder"}}
    />
  </div>
  {{#if @config.validations.errors}}
    <div class="input-error">{{@config.validations.errors}}</div>
  {{/if}}
</div>
