<div class="input__message w-full mt-4">
  <label for="message">{{t "forms.contact.message.label"}}</label>
  <div class="input-field__message">
    <Textarea class="input-control__message w-full resize-y rounded-sm p-2 bg-gray-50" name="message"
      placeholder={{t "forms.contact.message.placeholder"}}
    />
  </div>
  {{#if @config.validations.errors}}
    <div class="input-error">{{@config.validations.errors}}</div>
  {{/if}}
</div>
