<div class="contact-form__message">
  <label for="message">{{t "forms.contact.message.label"}}</label>
  <div class="input-field__message">
    <Textarea class="input-control input-control__message" id="message"
      placeholder={{t "forms.contact.message.placeholder"}}
    />
  </div>
  {{#if @config.validations.errors}}
    <div class="input-error">{{@config.validations.errors}}</div>
  {{/if}}
</div>
