@font-face {
  font-family: 'Nobile';
  src:  url('/assets/fonts/Nobile/Nobile-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Khand';
  src:  url('/assets/fonts/Khand/Khand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src:  url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
