body,
a,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Fallback, sans-serif;
}

h2,
button,
.button-contact {
  font-family: 'Khand', Fallback, sans-serif;
}

h1 {
  font-family: 'Nobile', Fallback, sans-serif;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-pale-orange {
  color: $pale-orange;
}

.text-orange {
  color: $orange;
}

.text-vibrant-orange {
  color: $vibrant-orange;
}

.xs {
  &-title {
    font-size: 1.2rem;
  }
}

.sm {
  &-title {
    font-size: 1.5rem;
  }
}

.md {
  &-title {
    font-size: 1.6rem;
  }
}

.lg {
  &-title {
    font-size: 1.7rem;
  }
}

