.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-pale-orange {
  color: $pale-orange;
}

.text-orange {
  color: $orange;
}

.text-vibrant-orange {
  color: $vibrant-orange;
}
