<div class="carousel__card carousel__card--creations h-80 flex-none rounded-lg bg-white shadow-lg">
  <div class="carousel__card-content">
    <h1 class="mb-1"><a href="https://www.nobour-eshop.com" class="text-base font-medium">www.nobour-eshop.com</a></h1>
    <p class="mb-1">An e-commerce web application using MERN stack Docker, CI/CD and deployed on AWS.</p>
    <LinkTo @route="index" class="invisible text-base font-medium" aria-current="page">
      More details
    </LinkTo>
    <img src="/assets/images/realisations/nobour-eshop.png" alt="nobour-eshop.com screenshot" class="mt-2 border border-black">
  </div>
</div>
