{{page-title (t "links.home") }}
<div class="home-page">
  <Banners::BannerUsp/>
  <Banners::BannerCreations/>
</div>

{{!--  <Banner id="banner-index-services">--}}
{{!--    <h2>This is how I can help you build your own web applications</h2>--}}
{{!--    <div>--}}
{{!--      <h3>Integration of landing pages, reactive and interactive UIs,--}}
{{!--        Single Page Applications, Progressive Web Applications--}}
{{!--      </h3>--}}
{{!--      <h3>Development of JSON, REST and GraphQL APIs as backend web services</h3>--}}
{{!--      <h3>Deployment of backend and frontend projects on web hosting--}}
{{!--        services considering scalability and availability matters--}}
{{!--      </h3>--}}
{{!--    </div>--}}
{{!--  </Banner>--}}
{{!--  <Banner id="banner-index-creations">--}}
{{!--  </Banner>--}}
{{!--  <Banner id="banner-index-form">--}}
{{!--  </Banner>--}}
